body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background: #111;
  color: #fff;
}

/* Semua halaman */
.page {
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Halaman aktif */
.page.active {
  display: flex;
}

/* Tombol */
button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 6px;
  background: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

.hidden {
  display: none;
}